.Landing-Section {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr;
}

/* Image Related Elements */
.Landing-Image-Container {
    display: flex;
    align-items: center;
    justify-content: center;
}
.Landing-Image {
    height: 300px;

}


.Landing-Section-Text {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr;
}
.Landing-Header-Container{
    display: flex;
    justify-content: right;
    align-items: flex-end;
}
.Landing-Header {
    font-size: 40pt;
}
.Landing-Text-Container{
    display: flex;
    justify-content: right;
    text-align: right;
    align-items: flex-start;
}
.Landing-Text {
    font-size: large;
}
