div.landing {
    height: 100vh;
    display: grid;
    grid-template-columns: 1fr 95vw 1fr;
    grid-template-rows: 1fr 80vh 1fr;
    grid-template-areas: 
    ". . ."
    ". center ."
    ". . .";
}

.Landing-Section {
    grid-area: center;
    display: grid;
    grid-gap: 5px;
    grid-template-rows: 1fr;
    grid-template-columns: 1fr 1fr;
}

.Landing-Section-Text {
    display: grid;
    grid-template-rows: 2fr 1fr;
}

.Landing-Image-Container {
    overflow: hidden;

    border-radius: 20px;
}
.Landing-Image {
    width: 100%;
    height: auto;
}

.Landing-Header {
    font-size: 90pt;
    line-height: .8;
    text-transform: uppercase;
}

.Landing-Text {
    font-size: 40pt;

    line-height: 1;

}